<app-menu></app-menu>
<div class="container">
  <div class="row">
    <!-- <h1>
      IDGS901
    </h1>
    <p>Hola Mundo</p>
    <div>
      {{title}}
    </div> -->
<!--     <div>El doble de 3 es: {{calcular(3)}}</div>
    <br>
    <hr>
    <div><b>Matricula: </b>{{alumno.matricula}}</div>
    <div><b>Nombre: </b>{{alumno.nombre|uppercase}}</div>
    <div><b>Edad: </b>{{alumno.edad}}</div>
    <div><b>Fecha de Nacimiento: </b>{{alumno.fechanacimiento|date}}</div>
    <div><b>Pago: </b>{{alumno.pago|currency}}</div>
    <hr>
    <br>
    <app-utl></app-utl>
    <hr>
    <br>
    <app-jesus></app-jesus>
    <hr>
    <br> -->
    <app-iric></app-iric>
  </div>
</div>